PATH_add .local/bin.edge

export LOCAL_="$(pwd)/.local"

export XDG_CONFIG_HOME="$LOCAL_/etc"
export XDG_DATA_HOME="$LOCAL_/share"
export XDG_CACHE_HOME="$LOCAL_/cache"
export XDG_RUNTIME_DIR="$LOCAL_/var"

export CARGO_HOME="$XDG_CONFIG_HOME/cargo"

export VBOX_USER_HOME="$XDG_CONFIG_HOME/VirtualBox"
export VAGRANT_DOTFILE_PATH="$XDG_CONFIG_HOME/vagrant.dot"

export VAGRANT_HOME="$XDG_DATA_HOME/vagrant.home"
export VAGRANT_DISABLE_VBOXSYMLINKCREATE=1

export XERR_TCP=127.0.0.1:5000

hooks=(
  "$XDG_CONFIG_HOME/rc.env"
)
for hook in "${hooks[@]}";
do
  if test -f "$hook";
  then
    echo "(<-) $hook" 1>&2
    source "$hook"
  fi
done

use rbenv
export RUBOCOP_CACHE_ROOT="$XDG_CACHE_HOME/rubocop"
