[Unit]
Description=A download caching service's activation socket

#StopWhenUnneeded=true
#RefuseManualStart=true
#RefuseManualStop=true

[Install]

[Socket]
Accept=no
ListenStream=127.0.0.1:8080
MaxConnectionsPerSource=64
MaxConnections=8192
RemoveOnStop=true

ConfigurationDirectory=%N
RuntimeDirectory=%N
LogsDirectory=%N

DynamicUser=true
PrivateDevices=true
PrivateNetwork=false
PrivateIPC=true
PrivateUsers=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET
LockPersonality=true
PrivateMounts=true
