[Unit]
Description=A download caching service
PartOf=reverse_proxy.target
[Install]
[Service]
Type=forking
PIDFile=%t/%N/nginx.pid
ExecStart=/usr/bin/%N -c %E/%N/%N.conf

ConfigurationDirectory=%N
RuntimeDirectory=%N
LogsDirectory=%N

DynamicUser=true
PrivateDevices=true
PrivateNetwork=false
PrivateIPC=true
PrivateUsers=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET
LockPersonality=true
PrivateMounts=true
